
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>READER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set black background color, white text and some padding */
        /*footer {
            background-color: #555;
            color: lightgray;
            padding: 15px;
        }*/
    </style>

</head>
<body>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle glyphicon glyphicon-align-justify" style="color:#074490" data-toggle="collapse" data-target="#myNavbar">
                </button>
                <a class="navbar-brand" href="/Anasayfa/Anasayfa" style="font-family:'Bookman Old Style'"><b style="color:#074490">READER</b></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ><a href="/Kesfet/Index">Keşfet</a></li>
                    <li><a href="/Yorum/Index">Yorum Yap</a></li>
                    <li><a href="/Kıtaplar/Index">Kitaplar</a></li>
                    <li><a href="/Yazarlar/Index">Yazarlar</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toogle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> @HttpContext.Current.User.Identity.Name</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Hesabım/Hesabım" class="glyphicon glyphicon-home"> Hesabım</a></li>
                            <li><a href="/Ayarlar/Ayarlar" class="glyphicon glyphicon-cog"> Hesap Ayarları</a></li>
                            <li><a href="/Iletisim/Index" class="glyphicon glyphicon-envelope"> Eksik Kitap Bildir</a></li>
                        </ul>
                    </li>
                    <li><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"></span> Çıkış Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @*<footer class="container-fluid text-center" >
        <p>&copy Bu web sitesi 2020 yılında yapılmıştır.</p>
    </footer>*@
</body>
</html>
