@using KITAPLIK.Models.Entity
@{
    Layout = null;
}

@using (Html.BeginForm("AnaSayfa","AnaSayfa",FormMethod.Get))
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnaSayfa</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
