
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp  Responsive Website Template | Home :: w3layouts</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet' type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <!---->

</head>
<body>
    <div class="content">
        <div class="container">
            <div class="content-grids">
                <div class="col-md-8 content-main">
                    <div class="content-grid">
                        <h1 style="color:#074490;font-family:'Book Antiqua'">Bu Ay En Çok Okunanlar...</h1>
                        <br />
                        <h3 style="color:#074490;font-family:'Book Antiqua'">Ne Yorum Yaptılar?</h3>
                        <div class="content-grid-info">

                            <br />
                            <img src="~/web pages/Project Images/ehayvan.jpg" alt="" />
                            <div class="post-info">
                                <br />
                                <h3 style="color:#ca0a26;font-family:'Book Antiqua'"> <u> <b> Hayvan Çiftliği </b></u> </h3>
                                </br>
                                <b>
                                    "Bu kitap, masalsı anlatımıyla (biraz hayal ürünü elbetteki) takdire şayan bir şekilde açıklamış politik oyunları.
                                    Hayvanların birbirine yoldaş diye seslenmesi Stalin dönemine açık bir gönderme.<span id="dots">...</span><span id="more">
                                        Din de dahil olmak üzere hayvanların duygusal yönden sömürülmesi ustaca işlenmiş. Tabii buradaki hayvanlar kurgu gereği insanları simgelemektedir.
                                        Eşitlik ve adalet parolasıyla yola çıkanların yönetimi ele geçirdikçe yavaş yavaş kanunları nasıl kendi istedikleri gibi çevirdiklerini görünce acınası bir tebessüm kapladı yüzümü.
                                        (George Orwell 1903-1950) zira yazar bu kitabı epey önceleri yazmış olmasına rağmen, politik entrikaların hem dününe, hem de yarınına ışık tutuyor. Çünkü eminim ki aynı sahtekârlıklar
                                        insanlık var olduğu sürece yapılacak."
                                        -Burak Velioğlu
                                    </span>
                                </b>
                                </br>
                                <button onclick="myFunction()" id="myBtn">Read more</button>

                                <script>
                                    function myFunction() {
                                        var dots = document.getElementById("dots");
                                        var moreText = document.getElementById("more");
                                        var btnText = document.getElementById("myBtn");

                                        if (dots.style.display === "none") {
                                            dots.style.display = "inline";
                                            btnText.innerHTML = "Read more";
                                            moreText.style.display = "none";
                                        } else {
                                            dots.style.display = "none";
                                            btnText.innerHTML = "Read less";
                                            moreText.style.display = "inline";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        </br>
                        <div class="content-grid-info">
                            <img src="~/web pages/Project Images/ekmm.jpg" alt="" />
                            <div class="post-info">
                                <br />
                                <h3 style="color:#ca0a26;font-family:'Book Antiqua'"> <u> <b>Kürk Mantolu Madonna </b></u> </h3>
                                </br>
                                <b>
                                    Bazı çeviri kitaplar okuduktan sonra okuduğum ilk aslı Türkçe kitaptı. Daha ilk sayfalarından evet yazar benim memleketimden dedim.<span id="dotss">...</span><span id="moree">
                                        Hikayemiz iş arayan bir adam ile başlıyor. Adamımız kendisi anlatıyor başından geçenleri. Bu süreçte fark ediyoruz ki, oldukça iyi gözlem yapan ve kendisini ve insanları iyi tanıyan biri. Raif Efendi isminde bir insanla tanışmasının başına gelen en ilginç olaylardan olduğunu söyleyerek meraklandırıyor. Raif efendi Gogol'un Palto kitabındaki ana kahramanimız Akaki'ye oldukça benzer bir karakter. Anlatıcıyı ve anlatılanı daha fazla tanıma isteğiniz zaten kitabı okutacaktır.
                                        İnsanlar arasındaki ilişkileri ve fikirleri çok iyi yorumlayan bir kitap okumak isterseniz öneriyorum.
                                        Bu bahsi geçenler kitabın ilk 20 sayfasında fark edeğiniz bilgiler olduğundan, yazdıklarımı mazur göreceğinizi umuyorum
                                        -Yavuzhan Tepekbaşı
                                    </span>
                                </b>
                                </br>
                                <button onclick="myFunctionn()" id="myBtnn">Read more</button>

                                <script>
                                    function myFunctionn() {
                                        var dotss = document.getElementById("dotss");
                                        var moreText = document.getElementById("moree");
                                        var btnText = document.getElementById("myBtnn");

                                        if (dotss.style.display === "none") {
                                            dotss.style.display = "inline";
                                            btnText.innerHTML = "Read more";
                                            moreText.style.display = "none";
                                        } else {
                                            dotss.style.display = "none";
                                            btnText.innerHTML = "Read less";
                                            moreText.style.display = "inline";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                        </br>
                        <div class="content-grid-info">
                            <img src="~/web pages/Project Images/eesatranc.jpg" alt="" />
                            <div class="post-info">
                                <br />
                                <h3 style="color:#ca0a26;font-family:'Book Antiqua'"> <u> <b> Satranç </b></u> </h3>
                                </br>
                                <b>
                                    Satranç, başlangıçta Dr. B‘nin ruhunu canlandıran ve zamanını doldurup onu eğlendiren bir oyun olarak oynanıyor. Ancak oyundan alınan zevk, zamanla aşama aşama önce oyun dürtüsüne, sonra da çılgınlığa dönüşüyor. <span id="dotsss">...</span><span id="moreee">
                                        Ve nihayet “yalnızca uyanık olduğu saatleri ele geçirmekle kalmayıp yavaş yavaş Dr. B’nin uykularına da sızan tutkulu bir öfke” hâlini alıyor.
                                        Eseri okurken, böylesine tutkulu bir öfkeyle, Avrupa‘yı yangın yerine çeviren Hitler‘in, sadece kazanmaya ve yenmeye endeksli hırsı ve öfkesi arasında bağ kurmak, kaçınılmaz oluyor.
                                        Ya da bu öfke size, “önüne çıkan bütün engelleri devirerek yol almaya alışmış, en önemsiz oyunda bile yenilmeyi kişiliğine yapılmış bir hakaret olarak kabul eden” insanları hatırlatıyor.
                                        Ayrıca “başarılarından dolayı şımaran ve kendisini fazlasıyla kaptırdığı üstünlük düşüncesi yüzünden ona karşı koyulmasını kendisine karşı haksız bir ayaklanma ve neredeyse hakaret olarak algılayan”
                                        insanların düştüğü durumla ilgili belli bir fikir veriyor. -Gülsüm Şule Bayraktar
                                    </span>
                                </b>
                                </br>
                                <button onclick="myFunctionnn()" id="myBtnnn">Read more</button>

                                <script>
                                    function myFunctionnn() {
                                        var dotsss = document.getElementById("dotsss");
                                        var moreText = document.getElementById("moreee");
                                        var btnText = document.getElementById("myBtnnn");

                                        if (dotsss.style.display === "none") {
                                            dotsss.style.display = "inline";
                                            btnText.innerHTML = "Read more";
                                            moreText.style.display = "none";
                                        } else {
                                            dotsss.style.display = "none";
                                            btnText.innerHTML = "Read less";
                                            moreText.style.display = "inline";
                                        }
                                    }
                                </script>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 content-right">
                    <div class="recent">
                        <h4 style="color:#ca0a26;font-family:'Book Antiqua'">KİTAP ALABİLECEĞİNİZ SİTELER</h4>
                        <ul>
                            <li><a href="https://www.bkmkitap.com/">Bkm Kitap</a></li>
                            <li><a href="https://www.idefix.com/">Idefix</a></li>
                            <li><a href="https://www.fidankitap.com/">FidanKitap</a></li>
                            <li><a href="https://www.kitapsec.com/">Kitap Seç</a></li>
                        </ul>
                    </div>
                    </br>
                    </br>
                    <div class="comments">
                        <h4 style="color:#ca0a26;font-family:'Book Antiqua'">ÖNERİLEN SAYFALAR</h4>
                        <ul>
                            <li><a href="https://1000kitap.com/">1000 Kitap</li>
                            <li><a href="https://www.goodreads.com/">GoodReads</li>
                            <li><a href="https://egoistokur.com/">Egoist Okur</li>
                        </ul>
                    </div>
                    </br>
                    </br>
                </div>
            </div>
        </div>
    </div>
    <br />
    
</body>
</html>



